In [1]:
import tabula
import numpy as np
import pandas as pd

In [2]:
file = 'AP42 Chap 7.pdf'
dfs = tabula.read_pdf(file, lattice=True, pages=list(np.arange(103, 140, 1)))

In [23]:
df = pd.concat(dfs, axis=0).reset_index(drop=True)
df['Location'] = df['Location'].ffill()
df[['City', 'State']] = df['Location'].str.split(', ', expand=True)
columns = ['Location', 'City', 'State'] + [col for col in df.columns if col not in ['Location', 'City', 'State']]
df = df[columns]

In [24]:
df

,Location,City,State,Symbol,Units,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual
0,"Birmingham, AL",Birmingham,AL,TAN,°F,35.0,37.5,44.1,51.7,60.6,68.1,71.7,71.1,64.7,53.3,43.3,36.7,53.20
1,"Birmingham, AL",Birmingham,AL,TAX,°F,53.7,57.8,65.9,73.9,80.9,86.8,90.0,89.8,84.5,74.7,64.2,55.3,73.10
2,"Birmingham, AL",Birmingham,AL,V,mi/hr,7.2,7.4,7.8,7.4,6.3,5.4,5.1,4.7,5.4,5.4,6.0,6.7,6.30
3,"Birmingham, AL",Birmingham,AL,I,Btu/ft2/day,769.0,1013.0,1382.0,1720.0,1884.0,1928.0,1889.0,1760.0,1504.0,1212.0,890.0,699.0,1388.00
4,"Birmingham, AL",Birmingham,AL,PA,lb/in2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,"Sheridan, WY",Sheridan,WY,TAN,°F,13.0,16.8,23.4,31.4,39.8,47.9,54.8,53.2,43.5,32.5,21.5,13.6,32.60
1206,"Sheridan, WY",Sheridan,WY,TAX,°F,34.4,38.5,47.5,55.7,65.4,74.8,85.9,85.2,74.0,58.8,45.5,35.4,58.40
1207,"Sheridan, WY",Sheridan,WY,V,mi/hr,6.5,6.9,7.8,8.9,8.3,7.2,6.5,6.0,6.3,6.7,6.5,6.5,6.90
1208,"Sheridan, WY",Sheridan,WY,I,Btu/ft2/day,482.0,767.0,1145.0,1509.0,1850.0,2030.0,2152.0,1860.0,1419.0,909.0,569.0,429.0,1260.00
1209,"Sheridan, WY",Sheridan,WY,PA,lb/in2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.73

In [25]:
data = {
    "Symbol": ["TAX", "TAN", "V", "I", "PA", "Source"],
    "Description": [
        "hourly average maximum ambient temperature",
        "hourly average minimum ambient temperature",
        "average wind speed",
        "average daily total insolation factor",
        "average atmospheric pressure",
        "AP 42, Fifth Edition, Volume I Chapter 7: Liquid Storage Tanks  -  https://www.epa.gov/air-emissions-factors-and-quantification/ap-42-fifth-edition-volume-i-chapter-7-liquid-storage-0"
    ]
}

description_df = pd.DataFrame(data)

In [27]:
with pd.ExcelWriter('Table 7-1-7 Meteorological data for selected US locations.xlsx') as writer:  
    df.to_excel(writer, sheet_name='Data', index=False)
    description_df.to_excel(writer, sheet_name='Symbols Descriptions', index=False)